{:company/legal-name "Galp Energia, SGPS, S.A."
 :company/lei "2138003319Y7NM75FG53"
 :company/jurisdiction "PT"
 :company/website "https://www.galp.com/es/"
 :company/inquiry-form-url "https://www.galp.com/es/contacto"}
